<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<h2>New Expense</h2>
<form th:object="${expense}" class="form-horizontal" id="add-expense-form" method="post">
    <div class="form-group has-feedback">
        <input th:replace="~{fragments/inputField :: input ('Quantity', 'quantity', 'text')}" />
        <input th:replace="~{fragments/inputField :: input ('Date', 'date', 'date')}" />
        <input th:replace="~{fragments/selectFieldId :: selectId ('Category', 'category', ${categories})}" />
        <input th:replace="~{fragments/selectField :: select ('Direction', 'direction', ${T(berkeley.creations.expenses.model.Direction).values()})}" />
        <input th:replace="~{fragments/inputField :: input ('Detail', 'detail', 'text')}" />
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button th:with="text=${expense['new']} ? 'Add Expense' : 'Update Expense'"
                    class="btn btn-default" type="submit" th:text="${text}">Add Owner</button>
        </div>
    </div>
</form>
</body>
</html>