<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'expenses')}" lang="en">


<body>

<h2>Expense Details</h2>
<table id="expensesPivotTable" class="table table-striped">
    <thead>
    <tr class="headings">
        <th style="width: 150px;">Month</th>
        <th th:each="category : ${table.categories}" class="column-title" th:text="${category.name}"></th>
        <th style="width: 150px;">Total</th>
    </tr>

    </thead>
    <tbody>
    <!--/*@thymesVar id="rows" type="berkeley.creations.expenses.model.PivotRow"*/-->
    <tr th:each="row : ${table.rows}">
        <td th:text="${#temporals.format(row.date, 'MMMM yyyy')}"></td>

        <th:block th:each="category : ${table.categories}">
            <td th:text="${row.categoryTotals.get(category)}"></td>
        </th:block>

        <td th:text="${row.total}"></td>

    </tr>
    </tbody>
</table>

<br />
<br />
<br />

</body>

</html>