<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<h2>Query Expenses</h2>
<form th:object="${query}" class="form-horizontal" id="query-expense-form" method="post">
    <div class="form-group has-feedback">
        <input th:replace="~{fragments/selectFieldId :: selectId ('Category', 'category', ${categories})}" />
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit" >Query</button>
        </div>
    </div>
</form>
</body>
</html>