<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<h2>Query Expenses</h2>
<form th:object="${query}" class="form-horizontal" id="query-expense-form" method="post">
    <div class="form-group has-feedback">
        <input th:replace="~{fragments/selectField :: select ('Category', 'category', ${categories}, true, true)}" />
        <input th:replace="~{fragments/selectField :: select ('Month', 'month', ${T(java.time.Month).values()}, false, true)}" />
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit" >Query</button>
        </div>
    </div>
</form>

<table id="expenses" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Date</th>
        <th style="width: 200px;">Direction</th>
        <th style="width: 120px">Quantity</th>
        <th style="width: 120px">Category</th>
        <th style="width: 120px">Detail</th>
        <th style="width: 120px">View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="expense : ${expenses}">
        <td th:text="${#temporals.format(expense.date, 'MMMM yyyy')}"></td>
        <td th:text="${expense.direction}"></td>
        <td th:text="${expense.quantity}"></td>
        <td th:text="${expense.category.name}"></td>
        <td th:text="${expense.detail}"></td>
        <td> <a th:href="@{/expenses/{id}(id=${expense.id})}" class="btn btn-default">View expense </a> </td>
    </tr>
    </tbody>
</table>



</body>
</html>