<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'expenses')}" lang="en">

<body>
<style>
    body {
        font-size: 10pt;
    }
</style>
<h2>Expenses</h2>

<div style="width: 60%; float: left">
    <table id="expenses" class="table table-striped" style="width: auto">
        <thead>
        <tr>
            <th style="width: 120px;">Date</th>
            <th style="width: 50px;">Direction</th>
            <th style="width: 70px">Quantity</th>
            <th style="width: 130px">Category</th>
            <th style="width: 150px">Detail</th>
            <th style="width: 60px">View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="expense : ${expenses}" style = "height: 10px; vertical-align: middle; padding: 0px; padding-left: 2px">
            <td th:text="${#temporals.format(expense.date, 'MMMM yyyy')}" style = "line-height: 10px; vertical-align: middle; padding: 0px; padding-left: 2px "></td>
            <td th:text="${expense.direction}" style = "line-height: 10px; vertical-align: middle;padding: 0px; padding-left: 2px" ></td>
            <td th:text="${expense.quantity}" style = "line-height: 10px; vertical-align: middle;padding: 0px; padding-left: 2px"></td>
            <td th:text="${expense.category.name}" style = "line-height: 10px; vertical-align: middle;padding: 0px; padding-left: 2px" ></td>
            <td th:text="${expense.detail}" style = "line-height: 10px; vertical-align: middle;padding: 0px; padding-left: 2px"></td>
            <td> <a th:href="@{/expenses/{id}(id=${expense.id})}" class="btn btn-default" style = "vertical-align: middle; padding: 0px; padding-left: 2px" >View</a>  </td>

        </tr>
        </tbody>
    </table>
</div>

<div style="width: 40%; float: right">
    <h2>Query Expenses</h2>
    <form th:object="${query}" class="form-horizontal" id="query-expense-form" method="post">
        <div class="form-group has-feedback">
            <input th:replace="~{fragments/selectField :: select ('Category', 'category', ${categories}, false, true)}" />
            <input th:replace="~{fragments/selectField :: select ('Month', 'month', ${T(java.time.Month).values()}, false, true)}" />
            <input th:replace="~{fragments/selectField :: select ('Year', 'year', ${years}, false, true)}" />
            <input class="btn btn-default" name = "action" value = "Query" type="submit">
        </div>
    </form>

    <div id="piechart" style="float: left"> </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
            var piedata = /*[[${pieData}]]*/ 'default';
            var data = google.visualization.arrayToDataTable(piedata);
            var options = {
                'title': 'Expense breakdown',
                'is3D': true,
                'backgroundColor': 'transparent',
                chartArea:{left:0,top:0,width:"100%",height:"100%"}
            };
            var formatter = new google.visualization.NumberFormat({decimalSymbol: '.', prefix: '£'});
            formatter.format(data,1);

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>

</div>

</body>
</html>