<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'expenses')}" lang="en">

<body>
<style>
    body {
        font-size: 10pt;
    }
</style>
<h2>Expenses</h2>

<table id="expenses" class="table table-striped" style="width: auto">
    <thead>
    <tr>
        <th style="width: 120px;">Date</th>
        <th style="width: 50px;">Direction</th>
        <th style="width: 70px">Quantity</th>
        <th style="width: 130px">Category</th>
        <th style="width: 150px">Detail</th>
        <th style="width: 60px">View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="expense : ${expenses}" style = "height: 10px; vertical-align: middle; padding: 0px; padding-left: 2px">
        <td th:text="${#temporals.format(expense.date, 'MMMM yyyy')}" style = "line-height: 10px; vertical-align: middle; padding: 0px; padding-left: 2px "></td>
        <td th:text="${expense.direction}" style = "line-height: 10px; vertical-align: middle;padding: 0px; padding-left: 2px" ></td>
        <td th:text="${expense.quantity}" style = "line-height: 10px; vertical-align: middle;padding: 0px; padding-left: 2px"></td>
        <td th:text="${expense.category.name}" style = "line-height: 10px; vertical-align: middle;padding: 0px; padding-left: 2px" ></td>
        <td th:text="${expense.detail}" style = "line-height: 10px; vertical-align: middle;padding: 0px; padding-left: 2px"></td>
        <td> <a th:href="@{/expenses/{id}(id=${expense.id})}" class="btn btn-default" style = "vertical-align: middle; padding: 0px; padding-left: 2px" >View</a>  </td>

    </tr>
    </tbody>
</table>

<a th:href="@{/expenses/new}" class="btn btn-default">New expense</a>
<a th:href="@{/expenses/query}" class="btn btn-default">Query</a>


</body>
</html>